@charset "UTF-8";
/* CSS Document */
body {
	background-color: 
	rgba(255,255,247,1.00)
}

.col-xs-7 {
	width: 65%
}
.col-xs-5 {
	width: 35%
}
.golden-color {
	background-color: #E47911;
}
.profile-image {
	width: 115px	;
	height: auto;
}
.blue-font {
	color: #337ab7;
}
.blue-color {
	background-color: #337ab7;
}
.green-color {
	background-color: #5cb85c;
}
.purple-color {
	background-color: #663399;
}
.gray-font {
	color: #55565A;
}
.full-width {
	width: 100%
}
.half-width {
	width: 50%
}
.quarter-width {
	width: 25%	
}
.education-width {
	width: 65%
}
.skill-width {
	width: 35%
}
.italics {
	font-style: italic;
}
.inset-back {
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.light-weight {
	font-weight:400;	
}
.behance {
	display: block;
	margin: auto;
	font-weight:400;	
	letter-spacing: normal;
}
.auto-height {
	width: 560px;
	height: 315px;
}
.center {
	display: block;
	margin: auto;
}
