@charset "UTF-8";
/* CSS Document */

.teal {
	color:rgba(117,228,187,1.00)	
}

.yellow {
	color: #f0f7a5
}
.orange {
	color: #ffa732
}
.green {
	color:rgba(92,184,92,1.00)
}
.italic {
	font-style: italic
}
.coral {
	color: #F08080
}
.psImage {
	float:left;
	margin-right: 50px;
	border: thick;
	border: white;
	
}
.blue {
	color:rgba(61,164,244,1.00);
}
.blueTitle {
	color:rgba(61,164,244,1.00);
}
.bio {
	float: right;
	font-weight: lighter;
	text-align:right;
	align-content: right;
		width:70%;
}
.separationLine {
	border-right: 1px solid white;
}
.book {
	font-weight: lighter;
	text-align:left;
	align-content: left;
	width:70%;
	float: left;
	min-width: 500px;
}
.monaco {
	font-family: Monaco, "Lucida Console", "Andale Mono", "Courier New",   "Lucida Sans Typewriter", Consolas, monospace;
}
.purple {
	color:rgba(175,125,252,1.00)
}
.darkestBackColor {
	background-color: #000625
}
.darkNav {
	background-color: #222;
	border-bottom-right-radius: 1em;
}
.twitNav > a:hover {

	border-bottom-right-radius: 1em;
}
.right {
	float: right;
}
.psText {
	text-align: left;
	width: 50%
}
.centerVid {
	display: block;
	margin: auto;
	text-align: center
}
.amazon {
	position: fixed;
	float: right;
	text-align: right;
	bottom:0;
	font-size: 22px !important;
	font-weight: lighter !important;
}
.largeBookFont {
	font-size: 2em;
}
.whiteFont {
	color: white;
}
.navDrop {
	color:white;
	font-size:24px;
	background-color: #222;
	border-bottom-left-radius: .4em;
	padding:.5em;
}

.threeQuart {
	width: 75%;
}
.scroll {
	overflow: auto;
}
.flushLeft {
	width: 60%;
}
.flushRight {
	width: 60%;
	float: right;
}
.blogPar {
	width: 80%;
}
.blogTitle {
	width:20%;
}
.lightenedBackground{
	background-color:rgba(243,243,243,1.00)
}
.noMargTop {
	margin-top: 0;
}
.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: white;
  border-radius: 10px;
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #d8d8d8 transparent;
}
.right-triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 3em 0 1em;
  color: #000;
  background: white;
  border-radius: 10px;
}

/* creates triangle */
.right-triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  right: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #d8d8d8 transparent;
}
.shiftPage {
	margin-top: 100px;
	font-size:3.5em;
}
.shiftBlogDown {
	margin-bottom:50px;
}
